.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.canvas-container {
  width: 80vw;
  height: 100vh;
  min-width: 600px;
}

.data-container {
  width: 20vw;
  max-width: 200px;
}

.form-container .input {
  padding: 15px 10px;
}
